* {
    box-sizing: border-box;
    --body-bg: #E5E5E5;
    --app-bg: #fafafa;
    --header-bg: #C3CFD9;
    --footer-bg: #9EADBA;
    --header-buttons: #E8833A;
    --font-color: #293845;
    
  }


.app-main {
    width: 100vw;
    max-width: 375px;
    height: 100vh;
    background-color: var(--app-bg);
}