* {
    box-sizing: border-box;
    --body-bg: #E5E5E5;
    --app-bg: #fafafa;
    --header-bg: #C3CFD9;
    --footer-bg: #9EADBA;
    --header-buttons: #E8833A;
    --font-color: #293845;
    --font-color-white: #fff;
    
  }


.sections-screen {
    width: 100%;
    height: calc(100% - 67px - 100px); /*Full Height - Header Hight - Footer Height*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    color: var(--font-color);
    background: var(--app-bg);

}

.sections-screen h1 {
    font-size: 24px;
    padding: 30px 0px;
}

.sections-screen .sections-container {
    width: 90%;
}

.sections-screen .sections-container article {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sections-screen .sections-container article .hours {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.sections-screen .sections-container article .hours button {
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    background: var(--header-buttons);
    color: var(--font-color-white);
    border: none;
    border-radius: 3px;
    margin-right: 8px;
    margin-bottom: 10px;
    padding: 13px;
}